
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

body{
  margin: 0;
  
}


:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -200px 0 0;
}
.main-text {
  height: 100vh;
  
}

.navlogosize {
  height: 2em;
}
.gap-15{
  height: -9em;
}
.gap15{
  height: 5em;
}
.gap25{
  height: 25vh;
}
.gap-25{
  margin-top: -7em;
}
.gap50{
  height: 30vh;

}

.gap75{
  height: 75vh;
}

.gap100{
  height: 100vh;

}
.gapdyn{
  height: 1vw;
}
.slideup{
  margin-top: -15em;
  z-index: 20;
}
.r37t {
  margin-top: -37.5vh;
}
.r37b {
  margin-bottom: -37.5vh;
}

.rdp {
  margin-top: -4em;
  //margin-right: -1em !important; 

}

.bg-black {
  background-color: black;
}

.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #322f33ff;
  margin:0 0.3em 0.3em 0;
  border-radius:0.22em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#322f33ff;
  text-align:center;
  transition: all 0.2s;
  margin-top: 1.5em;
  }
  .button1:hover{
  color:rgb(255, 255, 255);
  background-color:rgb(69, 75, 82);
  }
  @media all and (max-width:30em){
  .button1{
  display:block;
  margin:0.4em auto;
    }
  }



  .button1a{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #00B2FD;
    margin:0 0.3em 0.3em 0;
    border-radius:0.22em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#00B2FD;
    text-align:center;
    transition: all 0.2s;
    margin-top: 1.5em;
    }
    .button1a:hover{
    color:rgb(255, 255, 255);
    background-color:#00B2FD;
    }
    @media all and (max-width:30em){
    .button1a{
    display:block;
    margin:0.4em auto;
      }
    }

    .offsetbar {

      margin-top: -5em;
    }







  .button2{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid rgb(255, 255, 255);
  margin:0 .3em 0.3em 0;
  border-radius:0.22em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  font-size: 1.5rem;
  color:rgb(255, 255, 255);
  text-align:center;
  transition: all 0.2s;
  margin-top: 1.5em;
  }
  .button2:hover{
  color:rgb(255, 255, 255);
  background-color:#34495eff;
  border:0.1em solid #34495eff;
  }
  @media all and (max-width:30em){
   .button2{
  display:block;
  margin:0.4em auto;
    }
  }
  .button2g{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #322f33ff;
    margin:0 0.3em 0.3em 0;
    border-radius:0.22em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(255, 255, 255);
    text-align:center;
    transition: all 0.2s;
    margin-top: 1.5em;
    background-color: black;
    }
    .button2g:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(69, 75, 82);
    }
    @media all and (max-width:30em){
    .button2g{
    display:inline-block;
    margin:0.4em auto;
      }
    }
  
  
  
    





  

  .button3{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #34495eff;
    margin:0 0.3em 0.3em 0;
    border-radius:0.22em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(255, 255, 255);
    text-align:center;
    transition: all 0.2s;
    margin-top: 1.5em;
    background-color:#34495eff;
    }
    .button3:hover{
    color:#34495eff;
    background-color:rgba(52, 73, 94, 0.178);
    }
    @media all and (max-width:30em){
     .button3{
    display:block;
    margin:0.4em auto;
      }
    }



    .s1 {
      
      
      background-repeat: no-repeat;
      min-height: 10vh;
      
      background-color: black;
      
      
  
    }
    .limith {
      max-height: 320vh;
    }

   


    

   

    body {
      background-color: transparent;
    }




    
    
    .s2b{
      background-color: #FAFBFB;
      min-height: 100vh;
      margin-top: -2em;
    }
    .s2bw{
     
      min-width: 30em;
    }

    .s2bheight{
      padding-top: 5em;
      padding-bottom: 5em;
      height: auto;
      background-color: transparent;
    }
    
    
   

    .s3 {
      background-color: #322f33ff;
    }

    .s4 {

      /* The image used */
      
      /* Full height */
      
      

      /* Center and scale the image nicely */
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #f2f2f2;
    }

    .s4b2 {

      background-color: #f2f2f2;
      
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      min-width: 7.5em;
    }

    .s4b {

      background-color: #322f33ff;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      min-width: 7.5em;
      
    }
    

    .s1b {
      background-color: transparent;

    }
    .s1bt {
      color: #518318ff;
    }
    .s1bt2 {
      color: #518318ff;
    }

    .s4bo {

      border-color: #322f33ff;
      
      
    }

    .btn-lg-white {
      border-color: #322f33ff;
      background-color: white;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      color: #322f33ff;
    }
    .btn-lg-white:hover {
      border-color: #322f33ff;
      background-color: rgb(187, 187, 187);
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      color: #322f33ff;
    }

    .btn-lg-clear {
      border-color: #322f33ff;
      background-color: rgba(255, 255, 255, 0);
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      color: #322f33ff;
    }
    .btn-lg-clear:hover {
      border-color: #322f33ff;
      background-color: rgb(187, 187, 187);
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      color: #322f33ff;
    }

    .btn-lg-dark {
      background-color: #322f33ff;
      border-color: #322f33ff;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      color: white;
    }
    .btn-lg-dark:hover {
      background-color: rgb(105, 104, 105) !important;
      border-color: #322f33ff;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      
    }

    .btn-lg-dark2 {
      background-color: #518318ff;
      border-color: #518318ff;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      color: white;
    }
    .btn-lg-dark2:hover {
      background-color: rgb(105, 104, 105) !important;
      border-color: #322f33ff;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      
    }


    .btn-sm-dark1 {
      background-color: #322f33ff;
      border-color: #322f33ff;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      color: white;
      font-size: 0.5em;
    }
    .btn-sm-dark1:hover {
      background-color: rgb(105, 104, 105) !important;
      border-color: #322f33ff;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      
    }

    .btn-sm-dark2 {
      background-color: #518318ff;
      border-color: #518318ff;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      color: white;
      font-size: 0.5em;
    }
    .btn-sm-dark2:hover {
      background-color: rgb(105, 104, 105) !important;
      border-color: #322f33ff;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      
    }

    .s4t {

      color: #889691;
    }

    .featureSize {
      min-width: 0.7em;
    }
    .featureSizSm {
      min-width: 0.4em;
    }

    .t2 {
      background-color: #FAFBFB;
    }


    .t1 {
      //color: #889691;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.795);
    }

    .t3 {
      color: #fcfcfc;
    }

    .t4 {
      color: #322f33ff;
    }

    .s2b2 {
      background: #fcfcfc;
      margin-top: 0em;
    }

    .opacity1 {
      background-color: rgba(255, 255, 255, 0.918);
    }

  
    .bt1 { 
      border-color: #4C7488 !important; 

    }


    .text-t {
      color: #b5b9aa;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.795);
      
    }
    .text-tl {
      color: #b5b9aa;
      text-shadow: 0 0 3px rgb(0, 0, 0);
    }

    .fixedheight {
      min-height: 25em;
    }

    .fixedheightm {
      min-height: 15em;
    }

    .dividerprimary {

      background-image: url(/Content/DividerDark.png);
      background-size: 15em;
      background-position: center;
      background-repeat: no-repeat;

      height: 2em;
      
    
    }

    .dividerprimarysmall {

      background-image: url(/Content/DividerDark.png);
      background-size: 20em;
      background-position: center;
      background-repeat: no-repeat;

      height: 2em;
      
    
    }

    .dividerprimarywide {

      background-image: url(/Content/DividerDark.png);
      background-size: 25vw;
      background-position: center;
      background-repeat: no-repeat;

      height: 2em;
    
    }

    

    

    .cardmainth {
      height: 28em;
    }
    .cardmainth2 {
      height: 13em;
    }
    .cardmainthm {
      height: 14em;
    }
    .bringtofront {
      z-index: 100;
    }
    .box {
      
      
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }

    .xxlstandardw {
      max-width: 1920px;
    }

    .xxlthinnerw {
      max-width: 1540px;
      
    }

    .cardmaxw {

      max-width: 25em;
    }

    .cardminw {
      min-width: 17em;
    }
    .smallfeatures {
      padding-left: 0em;
      padding-right: 0em;
      margin-left: -1em;
      margin-right: -1em;
    }
    .smallfeaturesicon {
      padding-left: 0.15em;
      padding-right: 0.15em;
      margin-top: 0.5em;
    }

    .lowerfeature {
      padding-top: -1em;
      padding-bottom: 0.6em;
      padding-left: 0.3em;
    }

    .smallnavlogo {
      width: 2em;

    }

    .btn-big {

      width: 90%;
      height: 5em;
    }

    .btnseth{
      max-height: 3em;
    }

    .text-offwhite {
      color: #518318ff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.726);
    }
    .text-offwhite2 {
      color: #518318ff;
      
    }

    .btn-w-lock {
      min-width: 8em;
      
    }

    .btn-w-lock-sm {
      min-width: 7em;
      
      
    }
    

    .nav-h {
      min-height: 3.5em;
    }

    .setupbg {
      //background-image: url(/Content/PromoUpperC.png);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size:110%;
      min-height: 10em;
      border-radius: 7% 7% 7% 7% / 10% 10% 10% 10%;
    }

    .recomendbg {
      //background-image: url(/Content/ZoomLaptop1k.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size:110%;
      min-height: 50vh;
      //border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
    }

    




    .offgreen {
      
      background: #518318ff;
      
    }












    .feature {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      font-size: 2rem;
    }

    .top-off {
      margin-top: -2em;
    }



    //Footer

    .social:hover {
      -webkit-transform: scale(1.1);
      
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
  }
  .social {
      -webkit-transform: scale(0.8);
      
      /* Browser Variations: */
      
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8);
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
  }
 
 /*
     Multicoloured Hover Variations
 */
  
  #social-fb:hover {
      color: #3B5998;
  }
  #social-tw:hover {
      color: #4099FF;
  }
  #social-gp:hover {
      color: #d34836;
  }
  #social-em:hover {
      color: #f39c12;
  }

  
  
  .fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }






  // Ribbons Price
  .ribbonparent {
    overflow: hidden; /* required */
    position: relative;
    
   
    
    
  }
  
  .ribbon {
    margin: 0;
    padding: 0;
    background: #518318ff;
    color:white;
    padding:1em 0;
    position: absolute;
    
    top: 2.5em;
    right: 0vw;
    transform: translateX(0%) translateY(0%) rotate(45deg);
    transform-origin: top left;
  }
  .ribbon:before,
  .ribbon:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: #518318ff;
  }
  .ribbon:before {
    right:100%;
  }
  
  .ribbon:after {
    left:100%;
  }


  .ribbonparent {
    overflow: hidden; /* required */
    position: relative;
    
   
    
    
  }
  
  .ribbon {
    margin: 0;
    padding: 0;
    background: #518318ff;
    color:white;
    padding:1em 0;
    position: absolute;
    
    top: 2.5em;
    right: 0vw;
    transform: translateX(0%) translateY(0%) rotate(45deg);
    transform-origin: top left;
  }
  .ribbon:before,
  .ribbon:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: #518318ff;
  }
  .ribbon:before {
    right:100%;
  }
  
  .ribbon:after {
    left:100%;
  }



  .ribbonparent {
    overflow: hidden; /* required */
    position: relative;
    
   
    
    
  }
  
  .ribbonS {
    margin: 0;
    padding: 0;
    background: #518318ff;
    color:white;
    padding:0.5em 0;
    position: absolute;
    font-size: 10px;
    top: 2.5em;
    right: -1em;
    transform: translateX(0%) translateY(0%) rotate(45deg);
    transform-origin: top left;
  }
  .ribbonS:before,
  .ribbonS:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: #518318ff;
  }
  .ribbonS:before {
    right:100%;
  }
  
  .ribbonS:after {
    left:100%;
  }

  .fs-6 {

    font-size: 30px;
  }
  .fs-7 {

    font-size: 15px;
  }

  h6 {
    font-size: 1.1em;
  }


  .reducet {
    margin-top: -2.5em;
  }

  .addt {
    margin-bottom: 5.5em;
  }




a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; color: #889691;}


a:active { text-decoration: none; }


