body {margin:0rem;}

.modal-dialog {
      
      margin: 30px auto;
  }

.close-modal {
  position: 30% 50%;
}

.modal-body {
  position:relative;
  padding:0px;
  margin:2rem;
}
.close {
  position:absolute;
  right:0px;
  top:-60px;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
  overflow-y: auto;
  
  filter: invert(97%) sepia(0%) saturate(13%) hue-rotate(212deg) brightness(103%) contrast(105%);

}


$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);


.offset-modal-top {
  margin-top: 5em;
  
}

